<div class="footer" th:fragment="footer">
	<div id="layoutAuthentication_footer">
		<footer class="py-4 bg-light mt-auto">
			<div class="container-fluid">
				<div class="d-flex align-items-center justify-content-between small">
					<div class="text-muted">Copyright &copy; Diego Azevedo 2021</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="js/scripts.js"></script>
	<script th:src="@{assets/datatable/datatables.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
</div>